@font-face {
    font-family: 'PoetsenOne-Regular';
    src: url('./fonts/PoetsenOne-Regular.ttf');
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'PoetsenOne-Regular';
}

body {
    height: 100vh;
    background: url('./images/pancakes-bg.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* 
    Header
*/

header {
    background-color: rgba(66,117,160,0.9);
    height: 25%;
    width: 100vw;
    text-align: center;
    padding: 24px 36px;
}

header img {
    aspect-ratio: 1 / 1;
    height: 14vh;
    border-radius: 50%;
}

nav {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 3.5rem;
    padding-top: 1.5rem
}

header button {
    background-color: transparent;
    border: none;
    border-radius: 10px;
    padding: 8px 12px;
    cursor: pointer;
    color: #fff;
    font-weight: bold;
    font-size: 1.2rem;
}

.active {
    background-color: #FFF;
    color: rgb(66,117,160);
}

header button:hover {
    transform: translateY(-0.2rem);
}

/*
    Content
*/

#content {
    margin-top: 50px;
    width: 60vw;
    background-color: rgba(232,232,227,0.9);
    padding: 24px 36px;
    border-radius: 18px;
    text-align: center;
}

/*
    Home
*/

#home {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
}


#home img {
    aspect-ratio: 1 / 1.25;
    width: 40%;
}

#home h1 {
    color: rgb(66,117,160);
}